<nav class="navbar navbar-expand-lg bg-dark shadow-sm">
    <div class="container-fluid justify-content-between">
      <a class="navbar-brand fw-bold text-light fs-4" href="#">Proyectos Angular</a>
      <div class="d-flex">
        <ul class="navbar-nav d-flex flex-row gap-3">
          <li class="nav-item">
            <a routerLink="/" class="nav-link text-light" routerLinkActive="active">Formulario</a>
          </li>
          <li class="nav-item">
            <a routerLink="/panaderia" class="nav-link text-light" routerLinkActive="active">Panadería</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ruta3" class="nav-link text-light" routerLinkActive="active">Ruta 3</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ruta4" class="nav-link text-light" routerLinkActive="active">Ruta 4</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  